html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page-main {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.page-content {
  display: flex;
  justify-content: center;
}

.absence-list {
  width: 80%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}

/* .absence-control {
  width: 180px;
} */

.absence-control--small {
  width: 100px;
}

.absence-entry {
  width: 100%;
  display: flex;
}

.absence-entry-icon {
  display: flex;
  align-items: end;
}

.absence-entry-icon > i {
  margin-bottom: 8px;
}

.absence-entry-icon > i:hover {
  cursor: pointer;
}

.absence-control-btns {
  display: flex;
  align-items: end;
}

.absence-entry-icon:not(:first-child) {
  margin-left: 10px;
}
